* {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        header {
            background-color: #750113;
            height: 100px;
            padding: 0px;
            display: flex;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .logo {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 20px;
        }

        .logo-img {
            width: 200px;
        }

        nav {
            display: flex;
            gap: 20px;
            margin-left: 50px;
            flex: 1;
            padding-bottom: 10px;
        }

        nav a {
            color: #ffffff;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 6px;
        }

        .header-search {
            width: 100px;
            height: 100px;
            font-size: 30px;
            background-color: #fe1522;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            margin-left: auto;
        }

        .start {
            padding-left: 200px;
            font-family: "neue-haas-grotesk-text";
            font-size: 15.1113px;
            font-weight: 400;
            line-height: 1.3;
        }

        .start a:hover {
            color: red;
            text-decoration: underline;
        }

        .start1 {
            font-family: neue-haas-grotesk-text, sans-serif;
            font-size: 35px;
            font-weight: bold 170px;
            padding-top: 20px;
            padding-left: 200px;
        }

        #slash {
            color: red;
        }

        #hr1 {
            background-color: rgb(250, 26, 26);
            height: 4px;
            margin-left: 200px;
            width: 280px;
        }

        #hr2 {
            background-color: rgb(248, 0, 0);
            height: 3px;
            margin-left: 165px;
            width: 90px;
        }

        #hr3 {
            background-color: rgb(248, 0, 0);
            height: 3px;
            width: 370px;
        }

        #hr4 {
            background-color: rgb(248, 0, 0);
            height: 3px;
            width: 220px;
        }

        #hr5 {
            background-color: rgb(248, 0, 0);
            height: 3px;
            margin-left: 395px;
            width: 210px;
        }

        #hr6 {
            background-color: rgb(248, 0, 0);
            height: 3px;
            margin-left: 160px;
            width: 180px;
        }

        a:hover {
            color: red;
        }

        .vertical {
            font-family: neue-haas-grotesk-text, sans-serif;
            border: solid rgb(199, 199, 199) 2px;
            padding-bottom: 30px;
            padding-top: 20px;
            padding-left: 90px;
            margin-left: 80px;
            transform-origin: 0 0;
            transform: rotate(90deg);
            font-size: 30px;
            width: 54%;
        }

        .box2 {
            border: solid rgb(199, 199, 199) 2px;
            border-top-color: red;
            border-right-color: white;
            border-bottom-color: red;
            margin-top: 93.3px;
            margin-left: 78px;
            font-family: neue-haas-grotesk-text, sans-serif;
            font-size: 35px;
            font-weight: bold 170px;
            padding-top: 20px;
            padding-left: 110px;
            height: 100%;
            width: 95%;
        }

        .container {
            padding-left: 6px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
            margin-left: 200px;
            margin-right: 10px;
        }

        .box {
            margin-top: 20px;
            font-size: 20px;
            width: 100%;
        }

        .box video {
            padding-left: 30px;
        }

        .box1 {
            font-family: "neue-haas-grotesk-text";
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 40px;
            padding-left: 6px;
        }

        .box1 img {
            margin-top: 20px;
            margin-left: 70px;
        }

        .box1 h5 {
            margin-top: -40px;
            margin-left: 70px;
        }

        .box1 li {
            margin-top: 10px;
            margin-left: 90px;
            font-size: 18px;
        }

        .box1 li:hover {
            color: red;
            text-decoration: underline;
        }

        .box1 button {
            margin-top: 30px;
            padding: 20px;
            background-color: white;
            border: solid red;
        }

        .box1 button:hover {
            background-color: red;
            color: white;
        }

        .box1 #p1 {
            font-size: 15px;
            margin-left: 95px;
            margin-right: 30px;
        }

        .box1 #p3 {
            margin-top: 20px;
        }

        .container1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
        }

        .vertical1 {
            border: solid rgb(199, 199, 199) 2px;
            padding-bottom: 40px;
            padding-top: 40px;
            padding-left: 80px;
            margin-left: 80px;
            transform-origin: 0 0;
            transform: rotate(90deg);
            font-size: 30px;
            width: 38.5%;
        }

        .container2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .box3 {
            border: solid rgb(199, 199, 199) 2px;

            border-top-color: white;
            margin-left: 78px;
            font-family: neue-haas-grotesk-text, sans-serif;
            font-size: 35px;
            font-weight: bold 170px;
            padding-left: 110px;
            padding-bottom: 43.5px;
            width: 95%;
        }

        /* ===== FOOTER ===== */
        footer {
            z-index: 4;
        }

        /* ===== FOOTER ===== */
        .site-footer {
            background: #fff;
            border-top: 1px solid #e9e9e9;
            padding: 40px 0;
        }

        .footer-inner {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 300px 2fr 1fr 1fr;
            gap: 64px;
            align-items: start;
        }

        /* LOGO COLUMN */
        .footer-logo-col {
            display: flex;
            align-items: flex-start;
        }

        .footer-logo {
            width: 300px;
            height: auto;
        }

        /* TEXT COLUMN */
        .footer-title {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 8px;
        }

        .footer-address {
            font-size: 16px;
            color: #222;
            margin-bottom: 20px;
        }

        /* LINKS UNDER ADDRESS */
        .footer-links {
            display: flex;
            flex-wrap: wrap;
            gap: 12px 18px;
        }

        .footer-links a {
            font-size: 15px;
            color: #111;
            text-decoration: underline;
            text-decoration-color: #d2232a;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
        }

        /* NAV COLUMNS */
        .footer-columns {
            border-left: 1px solid #e5e5e5;
            padding-left: 32px;
        }

        .footer-columns ul {
            list-style: none;
        }

        .footer-columns li {
            margin-bottom: 14px;
        }

        .footer-columns a {
            font-size: 16px;
            color: #111;
            text-decoration: underline;
            text-decoration-color: #d2232a;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
        }